@model Book

<h1>@Model.Title</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Author</p>
        <a href="#" class="btn btn-primary">@Model.Year</a>
    </div>
</div>

<a asp-controller="Books" asp-action="Index" class="btn btn-secondary mt-3">Tilbage</a>